@import "variables";
@import "mixins";

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(/fonts/sDGTilo5QRsfWu6Yc11AXg.woff2) format('woff2'), url(/fonts/_xyN3apAT_yRRDeqB3sPRg.woff) format('woff');
}

html,
body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
}

body {
	margin-bottom: 2em;
	background-color: $background-color;
}

hr {
    border-color: $gray;
}

.panel {
	position: relative;
}

.panel-body {
	padding: 1em;
}

.overlay {
	background-color: rgba(0, 0, 0, 0);
	width: 100%;
	height: 100%;
	position: fixed;
}

.navbar {
	border: none;
	margin-bottom: 0;
}

.global-nav-header {
	margin: 0 -15px;
	padding: 0 $standard-spacing;
	color: $global-nav-text-color;
	background-color: $global-nav-bg;
	height: $global-nav-height;
	line-height: 1.8em;
	font-size: 2.2em;
	font-weight: bold;
	
	.navbar-toggle {
		float: none;
		margin: 0;
		border-color: rgba($global-nav-text-color, 0.25);
		vertical-align: middle;
	}
	
	.icon-bar {
		background-color: $global-nav-text-color;
	}

	.global-nav-brand {
		color: $global-nav-text-color;
		text-decoration: none;
		padding: 0 0.25em;
		display: inline-block;
		vertical-align: middle;

		img {
			border: 0;
		}
	}
}

.horizontal-flip {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

@media (max-width: 768px) {
  .navbar-collapse {
	  font-size: 2.2em;
	  
	  li > a {
		  padding-top: $standard-spacing;
		  padding-bottom: $standard-spacing;
	  }
  }
}

@media (min-width: 768px) {
  .navbar-collapse {
	  font-size: $font-large;
	  
	  li > a {
		  border-radius: 4px;
	  }
  }
}

.navbar-collapse {
	@include shadow(inset 0px 8px 9px -6px rgba(0, 0, 0, 0.5));
	background-color: $global-nav-menu-bg-color;
	border-top: 1px solid #000;
	border-bottom: 1px solid $global-nav-bg;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	padding-left: 0;
	padding-right: 0;
	
	&.margin-override {
		margin-left: -15px;
		margin-right: -15px;
	}
	
	.navbar-nav {
		margin-left: 0;
		margin-right: 0;
	}

	li > a {
		color: $global-nav-menu-text-color;
		padding-left: 0.9em;
		padding-right: 0.9em;

		.glyphicon {
			margin-right: 0.8em;
		}

		&:hover {
			color: $global-nav-menu-text-color;
			background-color: $light-orange;
		}
	}
}

.container-fluid.max-width {
	max-width: 1280px;
}

.btn > .glyphicon {
	margin-left: $icon-spacing;
	margin-right: $icon-spacing;
}

.load-bar {
	display: block;
	width: 100%;
	height: 10em;
	line-height: 10em;
	text-align: center;
}

.alert {
	font-size: $font-large;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ng-submitted input.ng-invalid-required,
input.ng-touched.ng-invalid { 
    background: #F2DEDE;
    border: 1px red solid;
}

// Custom select box
// https://fabriceleven.com/design/clever-way-to-change-the-drop-down-selector-arrow-icon/
.select-wrapper {
	position: relative;

	&:after {
		-webkit-font-smoothing: antialiased;
		content: "\e259";
		font-family: 'Glyphicons Halflings';
		font-style: normal;
		font-weight: 400;
		line-height: 1em;
		position: absolute;
		right: 1em;
		top: 35%;		
		pointer-events: none;
	}

	select {
		-webkit-appearance: none;
		-moz-appearance: none;

		display: block;
		width: 100%;
		height: 3em;
		line-height: 1.1em;
		border: 1px solid $btn-default-border-color;
		border-radius: 0;
		cursor: pointer;
		padding: $standard-spacing;

		// Hack to remove the gray dotted box that only shows up in Firefox
		&:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 #000;
		}

		// Remove arrow from IE
		&::-ms-expand {
			display: none;
		}
	}
}

.text-input-container {
	$container-padding: 1.6em;
	margin: $standard-spacing 0;
	padding: 0;
	text-align: left;

	.text-input-placeholder {
		padding: 0 2px;
		font-size: $font-normal-size;
		height: $container-padding;
		vertical-align: bottom;
	}

	.input-group {
		width: 100%;

		.form-control {
			z-index: 5;
		}

		.btn {
			&.focus,
			&:focus {
				outline: none;
			}
		}
	}

	// overwrite bootstrap
	.input-group-lg {
		&>.form-control,
		&>.input-group-addon,
		&>.input-group-btn>.btn {
			border-radius: 0;
		}
	}
}