@import "variables";

@mixin row() {
	display: block;
	line-height: 2em;
	padding: 1em 0;
}

@mixin player-left() {
	display: table-cell;
	vertical-align: top;
	padding-right: $standard-spacing;
	font-size: $font-largest;
	color: $dark-orange;
}

@mixin player-right() {
	display: table-cell;	
	vertical-align: top;
}

@mixin shadow($var) {
	-moz-box-shadow: $var;
	-webkit-box-shadow: $var;
	box-shadow: $var;
}

@mixin blur($var) {
	-webkit-filter: blur($var);
    -moz-filter: blur($var);
    -ms-filter: blur($var);
    -o-filter: blur($var);
    filter: blur($var);
}

@mixin panel-overlay{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 20;
	background: rgba(0,0,0,0.6);
	color: $global-nav-text-color;
	text-align: center;
	
	h3 {
		text-shadow: 0 0 20px #000;
	}
}

@mixin round-box() {
	border: 4px solid $dark-orange;
	border-radius: 3px;
}

@mixin card() {
	padding: 1em;
	border-radius: $card-border-radius;
	background-color: $light-gray;
	border: 1px solid lighten($gray, 30%);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
}