@import "variables";
@import "mixins";

@import "global";
@import "animation";
@import "admin";
@import "datePicker";
@import "monthYearPicker";
@import "playerSelector";
@import "playersList";
@import "playerStats";
@import "player";
@import "game";

/* 
.ranking-row,
.ranking-rank,
.ranking-data,
.row {
	border: $default-border;
} */

.status-banner {
	padding: 1em;
	text-align: center;
}

.ranking-no-rank {
	opacity: 0.5;
}

.ranking-row {
	@include row;

	.ranking-rank {
		@include player-left;
		width: 2.5em;
		text-align: right;
	}
	
	.ranking-player-stats {
		@include player-right;
	}
	
	.ranking-value {
		font-size: $font-large;
		color: $gray;

		a {
			border-bottom-style: dotted;
			border-bottom-width: 1px;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.ranking-label {
		display: inline-block;
		margin-right: $standard-spacing;
		color: $gray;
	}
}

.selected-players-wrapper {
    padding: 0 15px;
    margin-bottom: 20px;
	border: 2px solid $gray;
	border-radius: $card-border-radius;	

    .selected-players {
        margin-bottom: 15px;
    }
}

.playlist-row {
	@include row;
	padding: 1em;

	&:hover {
		border-radius: $card-border-radius;
		background-color: $light-orange;
		cursor: pointer;

		.player-nickname {
			border-color: $light-orange;
		}

		.player-name {
			color: $light-orange;
		}
	}

	.player-order {
		.checkmark {
			@include round-box();
		}

		input {
			position: absolute;
			visibility: hidden;
		}
	}

	.playlist-player-name,
	.playlist-player-fullname {
		font-size: $font-large;
	}
}

.playlist-order-row {
	@include row;
	width: 100%;
	padding: 1em;
}

.playlist-scores-row {
	@include row;
	padding: 0 $standard-spacing;
	margin: auto;
}

.dotm-row {
	@include row;
	padding: 0 $standard-spacing;
	margin: 1em auto;
}

.btn-row {
	@include row;
	padding: 1em $standard-spacing;
	margin: auto;
}

.edit-game {
    padding-top: 2em;

    .modify-players-button {
        margin-bottom: 20px;
    }

    .bonus-points-notice {
        margin-top: 15px;
    }

    .bonus-points-table {
        font-size: 14px;
        margin-bottom: 0;
    }

	.datepicker-filler {
		padding-bottom: 20px;
	}
}

.reorder-players {
	.panel-body {
        cursor: pointer;
    }
}