<div class="col-xs-12">
	<month-year-picker month="ctrl.month" year="ctrl.year" change="ctrl.updateQueryParams()"></month-year-picker>
	
    <load-spinner ng-show="ctrl.loading"></load-spinner>
	
	<div ng-if="!ctrl.loading">
		<div class="text-center" ng-if="ctrl.showNoGamesWarning">
			<h2>There are no recorded games.</h2>
		</div>
		
		<div class="status-banner bg-danger text-center" ng-if="ctrl.showErrorMessage">
			<h3 ng-bind="ctrl.errorMessage"></h3>
		</div>
		
		<game-card ng-repeat="game in ctrl.games"
			game="game"
			game-path="ctrl.gamePath"
			show-modify-buttons="ctrl.isFinalizedGame"
			reload="ctrl.reload()"></game-card>
	</div>
</div>