<div class="dotm-row" ng-show="ctrl.hasUberdorks">
	<div class="col-xs-12 col-sm-6 col-sm-offset-3">
		<div class="panel panel-dotm">
			<div class="panel-heading">
				<h3 class="panel-title" ng-bind="'Uberdork' + (ctrl.players.length > 1 ? 's' : '')"></h3>
			</div>
			<div class="panel-body">
				<div ng-repeat="dork in ctrl.dotm.uberdorks" ng-bind="dork.player.firstName + ' ' + dork.player.lastName">
				</div>
			</div>
		</div>
	</div>
</div>