doctype html
html
  head
    block head
      title= "DORK | " + title
      |<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='/images/favicon.ico')
      link(rel='shortcut icon', href='/images/favicon.ico')
      link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(src='/scripts/jquery.min.js')
      script(src='/scripts/angular.min.js')
      script(src='/scripts/angular-animate.js')
      script(src='/scripts/ui-bootstrap-tpls-1.3.3.min.js')
      | !{scripts}
    
  body(ng-app="DorkModule")
    global-nav
    div.container-fluid.max-width
      h1= title
      block content