<form ng-submit="ctrl.save()">
	<div class="status-banner">
		<player-form player="ctrl.player" disable-form="ctrl.disabled"></player-form>
		<div class="form-group">
			<text-input name="duplicatePlayerId"
				placeholder="Duplicate Player Id (Optional)"
				value="ctrl.player.duplicate"
				disabled="ctrl.disabled">
			</text-input>
		</form>
	</div>

	<div class="btn-row">
		<div class="btn-group btn-group-justified" role="group">
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-primary btn-lg" ng-click="ctrl.cancel()" ng-disabled="ctrl.disabled" aria-label="Cancel Edit">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Cancel
				</button>
			</div>
			<div class="btn-group" role="group">
				<button type="submit" class="btn btn-success btn-lg" ng-disabled="ctrl.disabled" aria-label="Save Player">
					<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
				</button>
			</div>
		</div>
	</div>
</form>