<div class="col-xs-12">
	<uib-alert ng-repeat="alert in ctrl.alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)">{{alert.msg}}</uib-alert>

	<div ng-show="ctrl.showError">
		<div class="btn-row">
			<button type="button" class="btn btn-success btn-block btn-lg" ng-click="ctrl.reload()">
				<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Reload
			</button>
		</div>
	</div>
    
    <load-spinner ng-show="ctrl.showLoading"></load-spinner>

	<div class="player-selector-container" ng-show="ctrl.showPlayers">
		<text-input
			name="nameFilter"
			placeholder="Filter by player name"
			value="ctrl.filter"
			show-clear-btn="true">
		</text-input>
	</div>

	<div class="btn-group">
		<label class="btn btn-primary" ng-model="ctrl.activity" uib-btn-radio="'Both'">Both</label>
		<label class="btn btn-primary" ng-model="ctrl.activity" uib-btn-radio="'Active'">Active</label>
		<label class="btn btn-primary" ng-model="ctrl.activity" uib-btn-radio="'Inactive'">Inactive</label>
	</div>
</div>

<div ng-show="ctrl.showPlayers">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="player in ctrl.players | filter:ctrl.filter" ng-if="ctrl.isPlayerVisible(player)">
		<div class="player-card players-list-card">
			<player-nametag player="player"></player-nametag>
			<div class="player-extra-info">
				<span class="playerId">ID: {{player._id}}</span>
				<span class="label label-primary" ng-show="player.duplicate">Duplicate</span>
				<div class="playerId">Url: <a ng-href="{{'/playerStats/' + player.urlId}}">{{player.urlId}}</a></div>
			</div>

			<div class="btn-group edit-player-btn-group" role="group">
				<button type="button" class="btn btn-warning" ng-click="ctrl.editPlayer(player)" aria-label="Edit Game">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
				</button>
				<button type="button"
					class="btn"
					ng-class="{'btn-default': player.inactive, 'btn-success': !player.inactive}"
					ng-click="ctrl.toggleInactive(player)"
					aria-label="Inactive">
					<span class="glyphicon"
						ng-class="{'glyphicon-eye-open': !player.inactive, 'glyphicon-eye-close': player.inactive}"
						aria-hidden="true"></span> {{player.inactive ? "Inactive" : "Active"}}
				</button>
			</div>
		</div>
	</div>
</div>

<edit-player player="ctrl.selectedPlayer" ng-show="ctrl.showPlayerEdit"></edit-player>
