<nav class="navbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="global-nav-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="ctrl.sidebarOpen = !ctrl.sidebarOpen" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="global-nav-brand">
                <a href="/">
                    <img src="/images/header-logo.png" width="144" height="52" />
                </a>
            </div>
        </div>

        <div class="collapse navbar-collapse margin-override" uib-collapse="!ctrl.sidebarOpen">
            <ul class="nav navbar-nav">
                <li><a href="/"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>Leaderboard</a></li>
                <li><a href="/CreateGame"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>Create Game</a></li>
                <li><a href="/ActiveGames"><span class="glyphicon glyphicon-play" aria-hidden="true"></span>Active Games</a></li>
                <li><a href="/GameHistory"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>Game History</a></li>
                <li><a href="/RankingHistory"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>Ranking History</a></li>
            </ul>
        </div>
    </div>
</nav>