<div class="player-score-card">
	<div class="game-rank">
		<div class="game-rank-dot" ng-repeat="rank in ctrl.rank track by $index">
			&bull;
		</div>
	</div>
	<div class="player-score-card-outline" uib-tooltip="{{ctrl.playerName.fullname}}" tooltip-placement="top">
		<div class="player-name" ng-bind="ctrl.playerName.initials"></div>
		<div class="player-score-big" ng-bind="ctrl.player.points"></div>
	</div>
</div>