﻿<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Bonus Points
        </h3>
    </div>
    <div class="panel-body">
        <table class="table table-condensed bonus-points-table">
            <thead>
                <tr><th>Position</th><th class="text-right">Additional Points</th></tr>
            </thead>
            <tbody>
                <tr><td>1st</td><td class="text-right" ng-bind="ctrl.numPlayers - 1"></td></tr>
                <tr><td>2nd</td><td class="text-right" ng-bind="ctrl.numPlayers - 2"></td></tr>
                <tr><td>3rd</td><td class="text-right" ng-bind="ctrl.numPlayers - 3"></td></tr>
            </tbody>
        </table>
    </div>
</div>