<div class="player-name">
	<span ng-bind="ctrl.player.initials"></span>
	<span class="player-nickname" ng-if="ctrl.player.nickname" ng-bind="ctrl.player.nickname"></span>
</div>
<div class="player-fullname" ng-bind="ctrl.player.fullname"></div>