@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu"), url(/fonts/sDGTilo5QRsfWu6Yc11AXg.woff2) format("woff2"), url(/fonts/_xyN3apAT_yRRDeqB3sPRg.woff) format("woff"); }

html,
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px; }

body {
  margin-bottom: 2em;
  background-color: #E6EBEF; }

hr {
  border-color: #7a8394; }

.panel {
  position: relative; }

.panel-body {
  padding: 1em; }

.overlay {
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: fixed; }

.navbar {
  border: none;
  margin-bottom: 0; }

.global-nav-header {
  margin: 0 -15px;
  padding: 0 0.5em;
  color: #fff;
  background-color: black;
  height: 2em;
  line-height: 1.8em;
  font-size: 2.2em;
  font-weight: bold; }
  .global-nav-header .navbar-toggle {
    float: none;
    margin: 0;
    border-color: rgba(255, 255, 255, 0.25);
    vertical-align: middle; }
  .global-nav-header .icon-bar {
    background-color: #fff; }
  .global-nav-header .global-nav-brand {
    color: #fff;
    text-decoration: none;
    padding: 0 0.25em;
    display: inline-block;
    vertical-align: middle; }
    .global-nav-header .global-nav-brand img {
      border: 0; }

.horizontal-flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }

@media (max-width: 768px) {
  .navbar-collapse {
    font-size: 2.2em; }
    .navbar-collapse li > a {
      padding-top: 0.5em;
      padding-bottom: 0.5em; } }

@media (min-width: 768px) {
  .navbar-collapse {
    font-size: 1.4em; }
    .navbar-collapse li > a {
      border-radius: 4px; } }

.navbar-collapse {
  -moz-box-shadow: inset 0px 8px 9px -6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px 8px 9px -6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 8px 9px -6px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  border-top: 1px solid #000;
  border-bottom: 1px solid black;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0;
  padding-right: 0; }
  .navbar-collapse.margin-override {
    margin-left: -15px;
    margin-right: -15px; }
  .navbar-collapse .navbar-nav {
    margin-left: 0;
    margin-right: 0; }
  .navbar-collapse li > a {
    color: #3F5163;
    padding-left: 0.9em;
    padding-right: 0.9em; }
    .navbar-collapse li > a .glyphicon {
      margin-right: 0.8em; }
    .navbar-collapse li > a:hover {
      color: #3F5163;
      background-color: #FAC4A5; }

.container-fluid.max-width {
  max-width: 1280px; }

.btn > .glyphicon {
  margin-left: 0.5em;
  margin-right: 0.5em; }

.load-bar {
  display: block;
  width: 100%;
  height: 10em;
  line-height: 10em;
  text-align: center; }

.alert {
  font-size: 1.4em; }

input[type='number'] {
  -moz-appearance: textfield; }

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.ng-submitted input.ng-invalid-required,
input.ng-touched.ng-invalid {
  background: #F2DEDE;
  border: 1px red solid; }

.select-wrapper {
  position: relative; }
  .select-wrapper:after {
    -webkit-font-smoothing: antialiased;
    content: "\e259";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1em;
    position: absolute;
    right: 1em;
    top: 35%;
    pointer-events: none; }
  .select-wrapper select {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width: 100%;
    height: 3em;
    line-height: 1.1em;
    border: 1px solid #CCC;
    border-radius: 0;
    cursor: pointer;
    padding: 0.5em; }
    .select-wrapper select:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000; }
    .select-wrapper select::-ms-expand {
      display: none; }

.text-input-container {
  margin: 0.5em 0;
  padding: 0;
  text-align: left; }
  .text-input-container .text-input-placeholder {
    padding: 0 2px;
    font-size: 1em;
    height: 1.6em;
    vertical-align: bottom; }
  .text-input-container .input-group {
    width: 100%; }
    .text-input-container .input-group .form-control {
      z-index: 5; }
    .text-input-container .input-group .btn.focus, .text-input-container .input-group .btn:focus {
      outline: none; }
  .text-input-container .input-group-lg > .form-control,
  .text-input-container .input-group-lg > .input-group-addon,
  .text-input-container .input-group-lg > .input-group-btn > .btn {
    border-radius: 0; }
