.player-card.stats-card-override {
  margin: 0.5em 0; }

.player-stats-card {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }
  .player-stats-card player-nametag {
    margin-top: 0.25em;
    margin-right: 2em; }
  .player-stats-card .ranking-row {
    width: 270px;
    padding: 0; }
  .player-stats-card .ranking-row-container {
    display: flex;
    justify-content: space-between; }

.player-stats {
  font-size: 1.4em; }
  .player-stats .stats-row-even {
    background-color: #373935;
    color: #E6EBEF; }
  .player-stats .stats-table-header,
  .player-stats .stats-row-odd {
    background-color: #25282B;
    color: #E6EBEF; }
  .player-stats .negative {
    color: #EC5D49; }
  .player-stats .positive {
    color: #77C437; }
  .player-stats .no-change {
    color: #FFCB00; }
  .player-stats .stats-table-header-cell,
  .player-stats .stats-info-row-container {
    display: flex;
    justify-content: space-between; }
  .player-stats .stats-table-header-cell,
  .player-stats .stats-game-date,
  .player-stats .stats-game-played {
    margin: 0.5em; }
  .player-stats .stats-game-date {
    text-align: left; }
  .player-stats .stats-game-played {
    text-align: right; }
  .player-stats .stats-label {
    margin: 0.5em;
    color: #7a8394; }
  .player-stats .stats-table-header {
    border-bottom: 1px solid #7a8394; }
  .player-stats .header-rating,
  .player-stats .header-rank {
    width: 9em;
    text-align: center; }
  .player-stats .gold-star {
    color: #FFCB00; }
  .player-stats .gold-star-on-light {
    color: #EFA517; }
  @media (min-width: 768px) {
    .player-stats .delta-row {
      justify-content: flex-end; } }
  .player-stats .delta-box {
    margin: 0.5em auto;
    text-align: center; }
    .player-stats .delta-box .delta-box-value,
    .player-stats .delta-box .delta-box-symbol,
    .player-stats .delta-box .delta-box-diff {
      display: inline-block; }
    .player-stats .delta-box .delta-box-value,
    .player-stats .delta-box .delta-box-diff {
      width: 4em; }
    .player-stats .delta-box .delta-box-value {
      text-align: right; }
    .player-stats .delta-box .delta-box-symbol {
      width: 1.5em;
      text-align: center; }
    .player-stats .delta-box .delta-box-diff {
      text-align: left; }
