@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu"), url(/fonts/sDGTilo5QRsfWu6Yc11AXg.woff2) format("woff2"), url(/fonts/_xyN3apAT_yRRDeqB3sPRg.woff) format("woff"); }

html,
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px; }

body {
  margin-bottom: 2em;
  background-color: #E6EBEF; }

hr {
  border-color: #7a8394; }

.panel {
  position: relative; }

.panel-body {
  padding: 1em; }

.overlay {
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: fixed; }

.navbar {
  border: none;
  margin-bottom: 0; }

.global-nav-header {
  margin: 0 -15px;
  padding: 0 0.5em;
  color: #fff;
  background-color: black;
  height: 2em;
  line-height: 1.8em;
  font-size: 2.2em;
  font-weight: bold; }
  .global-nav-header .navbar-toggle {
    float: none;
    margin: 0;
    border-color: rgba(255, 255, 255, 0.25);
    vertical-align: middle; }
  .global-nav-header .icon-bar {
    background-color: #fff; }
  .global-nav-header .global-nav-brand {
    color: #fff;
    text-decoration: none;
    padding: 0 0.25em;
    display: inline-block;
    vertical-align: middle; }
    .global-nav-header .global-nav-brand img {
      border: 0; }

.horizontal-flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }

@media (max-width: 768px) {
  .navbar-collapse {
    font-size: 2.2em; }
    .navbar-collapse li > a {
      padding-top: 0.5em;
      padding-bottom: 0.5em; } }

@media (min-width: 768px) {
  .navbar-collapse {
    font-size: 1.4em; }
    .navbar-collapse li > a {
      border-radius: 4px; } }

.navbar-collapse {
  -moz-box-shadow: inset 0px 8px 9px -6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px 8px 9px -6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 8px 9px -6px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  border-top: 1px solid #000;
  border-bottom: 1px solid black;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0;
  padding-right: 0; }
  .navbar-collapse.margin-override {
    margin-left: -15px;
    margin-right: -15px; }
  .navbar-collapse .navbar-nav {
    margin-left: 0;
    margin-right: 0; }
  .navbar-collapse li > a {
    color: #3F5163;
    padding-left: 0.9em;
    padding-right: 0.9em; }
    .navbar-collapse li > a .glyphicon {
      margin-right: 0.8em; }
    .navbar-collapse li > a:hover {
      color: #3F5163;
      background-color: #FAC4A5; }

.container-fluid.max-width {
  max-width: 1280px; }

.btn > .glyphicon {
  margin-left: 0.5em;
  margin-right: 0.5em; }

.load-bar {
  display: block;
  width: 100%;
  height: 10em;
  line-height: 10em;
  text-align: center; }

.alert {
  font-size: 1.4em; }

input[type='number'] {
  -moz-appearance: textfield; }

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.ng-submitted input.ng-invalid-required,
input.ng-touched.ng-invalid {
  background: #F2DEDE;
  border: 1px red solid; }

.select-wrapper {
  position: relative; }
  .select-wrapper:after {
    -webkit-font-smoothing: antialiased;
    content: "\e259";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1em;
    position: absolute;
    right: 1em;
    top: 35%;
    pointer-events: none; }
  .select-wrapper select {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width: 100%;
    height: 3em;
    line-height: 1.1em;
    border: 1px solid #CCC;
    border-radius: 0;
    cursor: pointer;
    padding: 0.5em; }
    .select-wrapper select:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000; }
    .select-wrapper select::-ms-expand {
      display: none; }

.text-input-container {
  margin: 0.5em 0;
  padding: 0;
  text-align: left; }
  .text-input-container .text-input-placeholder {
    padding: 0 2px;
    font-size: 1em;
    height: 1.6em;
    vertical-align: bottom; }
  .text-input-container .input-group {
    width: 100%; }
    .text-input-container .input-group .form-control {
      z-index: 5; }
    .text-input-container .input-group .btn.focus, .text-input-container .input-group .btn:focus {
      outline: none; }
  .text-input-container .input-group-lg > .form-control,
  .text-input-container .input-group-lg > .input-group-addon,
  .text-input-container .input-group-lg > .input-group-btn > .btn {
    border-radius: 0; }

.animate-appear.ng-move,
.animate-appear.ng-enter,
.animate-appear.ng-leave {
  transition: all 300ms ease-in-out 300ms; }

.animate-appear.ng-leave.ng-leave-active,
.animate-appear.ng-move,
.animate-appear.ng-enter {
  opacity: 0; }

.animate-appear.ng-enter.ng-enter-active,
.animate-appear.ng-move.ng-move-active,
.animate-appear.ng-leave {
  opacity: 1; }

.admin-list {
  font-size: 1.5em; }

.date-picker-wrapper {
  display: table;
  width: 100%;
  border: 1px solid #CCC; }
  .date-picker-wrapper .btn {
    border-radius: 0; }
  .date-picker-wrapper .now-button {
    display: table-cell;
    vertical-align: middle; }
    @media screen and (max-width: 479px) {
      .date-picker-wrapper .now-button {
        display: block; } }
  .date-picker-wrapper .datepicker,
  .date-picker-wrapper .timepicker {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.4em;
    min-width: 144px; }
    @media screen and (max-width: 479px) {
      .date-picker-wrapper .datepicker,
      .date-picker-wrapper .timepicker {
        display: block; } }
    .date-picker-wrapper .datepicker .button-wrapper,
    .date-picker-wrapper .timepicker .button-wrapper {
      position: relative;
      display: table;
      width: 100%; }
    .date-picker-wrapper .datepicker .no-selection,
    .date-picker-wrapper .timepicker .no-selection {
      position: absolute;
      top: 0;
      left: 0; }
      .date-picker-wrapper .datepicker .no-selection div,
      .date-picker-wrapper .timepicker .no-selection div {
        display: inline-block;
        vertical-align: middle; }
      .date-picker-wrapper .datepicker .no-selection .glyphicon,
      .date-picker-wrapper .timepicker .no-selection .glyphicon {
        padding-right: 0.25em;
        font-size: 30px; }
      .date-picker-wrapper .datepicker .no-selection .no-sel-label,
      .date-picker-wrapper .timepicker .no-selection .no-sel-label {
        text-align: left; }
    .date-picker-wrapper .datepicker .left-value,
    .date-picker-wrapper .datepicker .middle-value,
    .date-picker-wrapper .datepicker .right-value,
    .date-picker-wrapper .timepicker .left-value,
    .date-picker-wrapper .timepicker .middle-value,
    .date-picker-wrapper .timepicker .right-value {
      display: table-cell;
      vertical-align: middle; }
    .date-picker-wrapper .datepicker .left-value,
    .date-picker-wrapper .timepicker .left-value {
      width: 1.25em;
      padding-right: 0.25em;
      line-height: 0;
      font-size: 3em;
      text-align: right; }
    .date-picker-wrapper .datepicker .middle-value,
    .date-picker-wrapper .timepicker .middle-value {
      text-align: left; }
    .date-picker-wrapper .datepicker .right-value,
    .date-picker-wrapper .timepicker .right-value {
      width: 2.25em; }
  .date-picker-wrapper .datepicker {
    text-align: left; }
    .date-picker-wrapper .datepicker .input-wrapper {
      position: relative; }
  .date-picker-wrapper .timepicker {
    text-align: right; }
    .date-picker-wrapper .timepicker .input-wrapper {
      padding: 0 1em; }
      .date-picker-wrapper .timepicker .input-wrapper table.uib-timepicker {
        margin: auto; }
    .date-picker-wrapper .timepicker .dropdown-menu {
      min-width: 190px; }

.uib-datepicker .text-muted {
  color: #999999; }

.uib-datepicker .btn {
  border-radius: 0; }
  .uib-datepicker .btn.btn-info.active .text-info {
    color: white; }

.uib-datepicker .btn[disabled] {
  background-color: #EEE;
  color: #C0C0C0;
  opacity: 1; }
  .uib-datepicker .btn[disabled] .text-muted {
    color: #C0C0C0; }

.uib-datepicker th,
.uib-datepicker .uib-year,
.uib-datepicker .uib-month,
.uib-datepicker .uib-day {
  padding: 2px; }

.month-year-picker {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #CCC;
  margin: 1.5em 0 2em 0; }
  .month-year-picker .myp-prev,
  .month-year-picker .myp-next,
  .month-year-picker .myp-month,
  .month-year-picker .myp-year {
    font-size: 18px; }
    .month-year-picker .myp-prev select,
    .month-year-picker .myp-next select,
    .month-year-picker .myp-month select,
    .month-year-picker .myp-year select {
      font-size: 18px; }
  .month-year-picker .myp-month {
    flex: 2; }
  .month-year-picker .myp-year {
    flex: 1; }
  .month-year-picker .myp-prev,
  .month-year-picker .myp-next {
    text-align: center; }
    .month-year-picker .myp-prev button.myp-nav,
    .month-year-picker .myp-next button.myp-nav {
      border: 1px solid #CCC;
      border-radius: 0;
      padding: 0 0.5em;
      font-size: 18px;
      height: 3em;
      color: #555; }
      .month-year-picker .myp-prev button.myp-nav div,
      .month-year-picker .myp-next button.myp-nav div {
        display: inline-block; }
      .month-year-picker .myp-prev button.myp-nav .glyphicon,
      .month-year-picker .myp-next button.myp-nav .glyphicon {
        margin: 0; }
  @media (max-width: 374px) {
    .month-year-picker .myp-prev,
    .month-year-picker .myp-next {
      display: none; } }

.player-selector {
  padding-top: 1em;
  padding-bottom: 1em; }
  .player-selector .player-selector-instructions {
    margin: 1em;
    font-size: 1.4em;
    text-align: center; }
  .player-selector .dropdown-menu {
    width: 100%;
    font-size: 2em;
    line-height: 2em; }
  .player-selector .player-selector-not-found {
    text-align: center;
    margin: 1em;
    padding: 0.5em; }
    .player-selector .player-selector-not-found p {
      margin: 10px; }
    .player-selector .player-selector-not-found .player-selector-not-found-text {
      font-size: 1.4em; }

.players-list-card {
  padding-bottom: 2em; }
  .players-list-card .player-extra-info {
    margin: 0.5em 0; }
    .players-list-card .player-extra-info span {
      vertical-align: middle; }
    .players-list-card .player-extra-info .playerId {
      margin-right: 0.5em; }

.edit-player-btn-group {
  margin: 1em 0; }
  .edit-player-btn-group .btn {
    padding-right: 2em; }

.player-card.stats-card-override {
  margin: 0.5em 0; }

.player-stats-card {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }
  .player-stats-card player-nametag {
    margin-top: 0.25em;
    margin-right: 2em; }
  .player-stats-card .ranking-row {
    width: 270px;
    padding: 0; }
  .player-stats-card .ranking-row-container {
    display: flex;
    justify-content: space-between; }

.player-stats {
  font-size: 1.4em; }
  .player-stats .stats-row-even {
    background-color: #373935;
    color: #E6EBEF; }
  .player-stats .stats-table-header,
  .player-stats .stats-row-odd {
    background-color: #25282B;
    color: #E6EBEF; }
  .player-stats .negative {
    color: #EC5D49; }
  .player-stats .positive {
    color: #77C437; }
  .player-stats .no-change {
    color: #FFCB00; }
  .player-stats .stats-table-header-cell,
  .player-stats .stats-info-row-container {
    display: flex;
    justify-content: space-between; }
  .player-stats .stats-table-header-cell,
  .player-stats .stats-game-date,
  .player-stats .stats-game-played {
    margin: 0.5em; }
  .player-stats .stats-game-date {
    text-align: left; }
  .player-stats .stats-game-played {
    text-align: right; }
  .player-stats .stats-label {
    margin: 0.5em;
    color: #7a8394; }
  .player-stats .stats-table-header {
    border-bottom: 1px solid #7a8394; }
  .player-stats .header-rating,
  .player-stats .header-rank {
    width: 9em;
    text-align: center; }
  .player-stats .gold-star {
    color: #FFCB00; }
  .player-stats .gold-star-on-light {
    color: #EFA517; }
  @media (min-width: 768px) {
    .player-stats .delta-row {
      justify-content: flex-end; } }
  .player-stats .delta-box {
    margin: 0.5em auto;
    text-align: center; }
    .player-stats .delta-box .delta-box-value,
    .player-stats .delta-box .delta-box-symbol,
    .player-stats .delta-box .delta-box-diff {
      display: inline-block; }
    .player-stats .delta-box .delta-box-value,
    .player-stats .delta-box .delta-box-diff {
      width: 4em; }
    .player-stats .delta-box .delta-box-value {
      text-align: right; }
    .player-stats .delta-box .delta-box-symbol {
      width: 1.5em;
      text-align: center; }
    .player-stats .delta-box .delta-box-diff {
      text-align: left; }

.player-move-panel-content {
  font-size: 2em;
  color: #7a8394;
  height: 2em;
  line-height: 2em; }

.panel-title .player-nickname {
  margin-left: 0.3em;
  padding-left: 0.5em;
  border-left: 2px solid #E6EBEF;
  display: inline-block;
  white-space: nowrap; }

.panel-title .player-name {
  background-color: #3F5163;
  color: #E6EBEF;
  display: inline-block;
  padding: 0 0.5em;
  font-weight: bold;
  margin: 0.5em 0; }

.player-card {
  margin: 0.5em; }
  .player-card .player-order {
    display: table-cell;
    vertical-align: top;
    padding-right: 0.5em;
    font-size: 3em;
    color: #df6d2e;
    width: 2em;
    text-align: center; }
    .player-card .player-order .checkmark {
      height: 1.5em;
      line-height: 1.3em; }
  .player-card .player-nametag {
    display: table-cell;
    vertical-align: top; }
  .player-card .player-nickname {
    margin-left: 0.3em;
    padding-left: 0.5em;
    border-left: 2px solid #E6EBEF;
    display: inline-block;
    white-space: nowrap; }
  .player-card .player-name {
    background-color: #3F5163;
    color: #E6EBEF;
    display: inline-block;
    padding: 0 0.5em;
    font-weight: bold;
    font-size: 1.4em; }
  .player-card .player-fullname {
    font-size: 1.4em; }

.player-score-card {
  display: inline-block;
  margin: 0.5em;
  margin-top: 0;
  margin-bottom: 0.75em;
  text-align: center;
  font-size: 1.4em;
  width: 5em;
  cursor: default; }
  .player-score-card .player-name {
    margin: 0.5em;
    background-color: #3F5163;
    color: #E6EBEF;
    font-weight: bold; }
  .player-score-card .player-score-card-outline {
    border: 4px solid #df6d2e;
    border-radius: 3px; }
  .player-score-card .player-score-big {
    font-size: 2em;
    color: #df6d2e; }
  .player-score-card .game-rank {
    height: 1.5em;
    vertical-align: middle; }
    .player-score-card .game-rank .game-rank-dot {
      display: inline-block;
      margin: 0 0.5em; }

.overlay {
  top: 0;
  left: 0; }
  .overlay.add-player-open {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 24;
    transition: all 0.3s ease-in-out; }

.panel-dotm {
  border: 4px solid #df6d2e;
  border-radius: 3px;
  background-color: transparent; }
  .panel-dotm .panel-heading,
  .panel-dotm .panel-body {
    padding: 16px; }
  .panel-dotm .panel-heading {
    color: #df6d2e;
    text-transform: uppercase; }
  .panel-dotm .panel-body {
    padding-top: 0;
    font-size: 1.4em; }

.game-column-player,
.game-column-rank,
.game-column-points {
  position: relative;
  display: inline-block;
  vertical-align: middle; }

.game-column-player {
  width: 22em; }

.game-column-rank {
  width: 15em; }

.game-column-points {
  width: 15em; }

.game-date {
  font-size: 2em;
  font-weight: bold;
  color: #df6d2e; }

.game-time {
  font-size: 1.4em;
  font-weight: bold; }

.game-delete-btn {
  float: right; }

.game-warning-btn,
.game-edit-btn {
  vertical-align: top; }
  .game-warning-btn .btn,
  .game-edit-btn .btn {
    margin: 0.5em; }
    .game-warning-btn .btn .glyphicon,
    .game-edit-btn .btn .glyphicon {
      margin-left: 0; }

.game-warning-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 20;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center; }
  .game-warning-overlay h3 {
    text-shadow: 0 0 20px #000; }

.game-delete-blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px); }

.game-score-modifier-icons,
.game-score-numeric-input {
  display: inline-block;
  text-align: center;
  vertical-align: middle; }

.game-score-modifier-icons a {
  padding: 0.5em 0; }

.game-score-numeric-input {
  width: 3em; }

.btn-group-lg.game-rank-group {
  padding: 1em 0; }
  .btn-group-lg.game-rank-group > .btn {
    padding: 0.5em 1em; }

.create-game-container .create-game-new-player-btn {
  margin-bottom: 2.5em; }

/* 
.ranking-row,
.ranking-rank,
.ranking-data,
.row {
	border: $default-border;
} */
.status-banner {
  padding: 1em;
  text-align: center; }

.ranking-no-rank {
  opacity: 0.5; }

.ranking-row {
  display: block;
  line-height: 2em;
  padding: 1em 0; }
  .ranking-row .ranking-rank {
    display: table-cell;
    vertical-align: top;
    padding-right: 0.5em;
    font-size: 3em;
    color: #df6d2e;
    width: 2.5em;
    text-align: right; }
  .ranking-row .ranking-player-stats {
    display: table-cell;
    vertical-align: top; }
  .ranking-row .ranking-value {
    font-size: 1.4em;
    color: #7a8394; }
    .ranking-row .ranking-value a {
      border-bottom-style: dotted;
      border-bottom-width: 1px; }
      .ranking-row .ranking-value a:hover {
        text-decoration: none; }
  .ranking-row .ranking-label {
    display: inline-block;
    margin-right: 0.5em;
    color: #7a8394; }

.selected-players-wrapper {
  padding: 0 15px;
  margin-bottom: 20px;
  border: 2px solid #7a8394;
  border-radius: 5px; }
  .selected-players-wrapper .selected-players {
    margin-bottom: 15px; }

.playlist-row {
  display: block;
  line-height: 2em;
  padding: 1em 0;
  padding: 1em; }
  .playlist-row:hover {
    border-radius: 5px;
    background-color: #FAC4A5;
    cursor: pointer; }
    .playlist-row:hover .player-nickname {
      border-color: #FAC4A5; }
    .playlist-row:hover .player-name {
      color: #FAC4A5; }
  .playlist-row .player-order .checkmark {
    border: 4px solid #df6d2e;
    border-radius: 3px; }
  .playlist-row .player-order input {
    position: absolute;
    visibility: hidden; }
  .playlist-row .playlist-player-name,
  .playlist-row .playlist-player-fullname {
    font-size: 1.4em; }

.playlist-order-row {
  display: block;
  line-height: 2em;
  padding: 1em 0;
  width: 100%;
  padding: 1em; }

.playlist-scores-row {
  display: block;
  line-height: 2em;
  padding: 1em 0;
  padding: 0 0.5em;
  margin: auto; }

.dotm-row {
  display: block;
  line-height: 2em;
  padding: 1em 0;
  padding: 0 0.5em;
  margin: 1em auto; }

.btn-row {
  display: block;
  line-height: 2em;
  padding: 1em 0;
  padding: 1em 0.5em;
  margin: auto; }

.edit-game {
  padding-top: 2em; }
  .edit-game .modify-players-button {
    margin-bottom: 20px; }
  .edit-game .bonus-points-notice {
    margin-top: 15px; }
  .edit-game .bonus-points-table {
    font-size: 14px;
    margin-bottom: 0; }
  .edit-game .datepicker-filler {
    padding-bottom: 20px; }

.reorder-players .panel-body {
  cursor: pointer; }
