﻿<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-5">
            <div uib-collapse="ctrl.collapsePlayerSelectorPanel" collapsed="ctrl.enableAddNewPlayer()">
                <p>
                    <button type="button"
                            class="btn btn-primary btn-lg btn-block"
                            ng-click="ctrl.back()"
                            ng-disabled="ctrl.disabled || ctrl.movePlayerActive"
                            aria-label="Back">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back
                    </button>
                </p>
                
                <hr class="modify-players-divider visible-xs-block visible-sm-block" />

                <h2>Add Player</h2>
                <player-selector players="ctrl.unselectedPlayers"
                                on-selected="ctrl.onSelected(data)"
                                disabled="ctrl.movePlayerActive"></player-selector>

                <div class="text-center">
                    <new-player-button click="ctrl.disablePlayerSelectorPanel()"></new-player-button>
                </div>
            </div>

            <div uib-collapse="ctrl.collapseAddNewPlayerPanel" collapsed="ctrl.enablePlayerSelectorPanel()">
                <new-player-panel></new-player-panel>
            </div>

            <hr class="modify-players-divider visible-xs-block visible-sm-block" />
        </div>

        <div class="col-xs-12 col-md-6 col-lg-7">
            <reorder-players></reorder-players>
        </div>
    </div>
</div>