﻿<div class="playlist-scores-row reorder-players" ng-repeat="player in ctrl.players">
    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title">
                <div class="pull-right">
                    <button ng-click="ctrl.removePlayer(player)"
                            class="btn btn-danger"
                            ng-disabled="ctrl.dropZoneActive"
                            aria-label="Remove Player">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
                <player-nametag player="player.player"></player-nametag>
            </h3>
        </div>

        <div class="panel-body text-center" ng-click="ctrl.clickHandler(player)">

            <div class="player-move-panel-content">
                <span ng-if="!ctrl.dropZoneActive && !ctrl.isPlayerSelected(player)">
                    Select to move
                </span>

                <span ng-if="ctrl.dropZoneActive && ctrl.isPlayerSelected(player)">
                    Unselect
                </span>

                <span ng-if="ctrl.dropZoneActive && !ctrl.isPlayerSelected(player)">
                    <span class="glyphicon glyphicon-download-alt"></span>
                </span>
            </div>

        </div>
    </div>
</div>