<div class="panel panel-default">
	<div class="game-warning-overlay" ng-class="ctrl.showOverlay ? 'show' : 'hidden'">
	    <load-spinner ng-show="ctrl.showLoadBar"></load-spinner>
		
		<div ng-if="ctrl.showDeleteWarning">
			<h3>Delete this game?</h3>
			
			<div class="game-warning-btn">
				<button ng-click="ctrl.dismissOverlay()" class="btn btn-primary btn-lg" aria-label="Keep Game">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Keep Game
				</button>
				
				<button ng-click="ctrl.deleteGame(ctrl.game)" class="btn btn-danger" aria-label="Delete Game">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete Game
				</button>
			</div>
		</div>
		
		<div ng-if="ctrl.showDeleted">
			<h3>Game deleted.</h3>
			
			<div class="game-warning-btn">
				<button ng-click="ctrl.reload()" class="btn btn-success btn-lg" aria-label="Reload">
					OK
				</button>
			</div>
		</div>
		
		<div ng-if="ctrl.showError">
			<h3 ng-bind="ctrl.errorMessage"></h3>
			
			<div class="game-warning-btn">
				<button ng-click="ctrl.dismissOverlay()" class="btn btn-primary btn-lg" aria-label="Back">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back
				</button>
			</div>
		</div>
	</div>
	
	<div class="panel-body" ng-class="{'game-delete-blur': ctrl.showOverlay}">
		<div class="game-delete-btn" ng-if="ctrl.showModifyButtons">
			<button ng-click="ctrl.warnDelete()" class="btn btn-danger" aria-label="Delete Game">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</button>
		</div>
		<div class="game-date" ng-bind="ctrl.game.datePlayed | date:'MMM d, yyyy'"></div>
		<div class="game-time" ng-bind="ctrl.game.datePlayed | date:'EEEE h:mm a'"></div>
		
		<div class="game-edit-btn">
			<button type="button" class="btn btn-warning" ng-click="ctrl.edit()" aria-label="Edit Game"
				ng-if="ctrl.showModifyButtons">
				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
			</button>
			
			<button type="button" class="btn btn-primary" ng-click="ctrl.copyGame(ctrl.game)" aria-label="Copy">
				<span class="glyphicon glyphicon-copy" aria-hidden="true"></span> Copy
			</button>
		</div>
					
		<player-scoretag player="player" ng-repeat="player in ctrl.game.players"></player-scoretag>
	</div>
	<div class="panel-footer text-right" ng-class="{'game-delete-blur': ctrl.showOverlay}">
		<span ng-bind="ctrl.game.players.length"></span> players
	</div>
</div>