﻿<div class="text-center alert" ng-class="{'alert-danger': !ctrl.hasDate}">
    <date-picker date="ctrl.datePlayed" show-now-button="true"></date-picker>
</div>

<div class="btn-row">
    <div class="btn-group btn-group-justified" role="group">

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-danger btn-lg" ng-click="ctrl.reset()" ng-disabled="!ctrl.hasSelectedPlayers">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Reset
            </button>
        </div>

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-success btn-lg" ng-click="ctrl.create()" ng-disabled="ctrl.disableGameCreation">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Create
            </button>
        </div>

    </div>
</div>