<div class="row">
	<div class="col-xs-12">
		<h3>
			Last game played:<br />
			<small ng-bind="ctrl.lastDatePlayed | date:'EEEE, MMMM d, h:mm a'"></small>
		</h3>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<rankings></rankings>
	</div>
</div>

<div ng-if="ctrl.noGamesThisMonth">
	<dotm month="ctrl.lastMonth" year="ctrl.lastMonthYear"></dotm>
</div>